In [1]:
%matplotlib notebook

 Observations and Insights

In [2]:
 # Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from sklearn.datasets import load_boston
from scipy.stats import sem

# Study data files
mouse_metadata_path = "/Users/matthewvicario/MatPlotLib/MatPlotLib-Challenge/meta_data.csv"
study_results_path = "/Users/matthewvicario/MatPlotLib/MatPlotLib-Challenge/study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_mouse_data = pd.merge(mouse_metadata, study_results, on='Mouse ID')

# Display the data table for preview
combined_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [3]:
# Checking the number of mice
mice_count = combined_mouse_data["Mouse ID"].nunique()
mice_count

249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
new_mouse_data = pd.DataFrame(combined_mouse_data.drop_duplicates(["Mouse ID", "Timepoint"]))
new_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [5]:
# Checking the number of mice in the clean DataFrame.
mice_count

249

 Summary Statistics

In [6]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.
regimens = new_mouse_data.groupby(["Drug Regimen"])
volume_mean = regimens["Tumor Volume (mm3)"].mean()
volume_median = regimens["Tumor Volume (mm3)"].median()

volume_sems = [sems(MEDV) ["Tumor Volume (mm3)"]]
volume_sems
#** Issue with Regimens being a group
volume_variance = np.var(["Tumor Volume (mm3)"], regimens, ddof = 0)
volume_std = np.std(["Tumor Volume (mm3)"], regimens, ddof = 0)

#regimen_stats_df = new_mouse_data[{"Drug Regimen": regimens,

NameError: name 'sems' is not defined

In [ ]:
 # Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function